<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Einstellungen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Einstellungen
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list-header>
    <ion-label>Benutzer-Einstellungen</ion-label>
  </ion-list-header>

  <ion-list *ngIf="auth">
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="auth?.currentUser.displayName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">E-Mail</ion-label>
      <ion-input [(ngModel)]="auth?.currentUser.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Postleitzahl deiner Nachbarschaft</ion-label>
      <ion-input [(ngModel)]="auth?.currentUser.plz"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list-header>
    <ion-label></ion-label>
  </ion-list-header>

  <ion-button fill="clear" expand="block" (click)="doLogout()">
    Logout
  </ion-button>


</ion-content>
