<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Einstellungen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Einstellungen
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list-header>
    <ion-label>Benutzer-Einstellungen</ion-label>
  </ion-list-header>

  <ion-list *ngIf="auth">

    <ion-item *ngIf="auth.currentUser?.displayName">
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="auth?.currentUser.displayName"></ion-input>
    </ion-item>
    <ion-item *ngIf="auth.currentUser?.displayName">
      <ion-label position="stacked">E-Mail</ion-label>
      <ion-input [(ngModel)]="auth?.currentUser.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Postleitzahl deiner Nachbarschaft</ion-label>
      <ion-input [(ngModel)]="auth?.currentUser.plz"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list-header>
    <ion-label></ion-label>
  </ion-list-header>

  <div class="ion-text-center ion-padding">
    <p>Teil des <a href="https://twitter.com/search?q=%23WirvsVirusHack&src=recent_search_click" target="_blank">#wirvsvirus</a> Hackathons.
    <br>Anfragen und alles andere gern an <a href="mailto: info@neighborsapp.io" style="color: #222;">info@neighborsapp.io</a>
    </p>
    <br>
    <br>
    <a href="https://wirvsvirushackathon.org/" target="_blank"><img class="logo" src="assets/hackathon-info-black.jpg" style="width: 70%; max-width: 180px; " /></a>
    <br/>
    <br/>
    <a href="https://devpost.com/software/neighbors-rv1qsg" target="_blank" style=" text-decoration: none;">Vote für uns!</a>
  </div>

  <ion-button fill="clear" expand="block" (click)="doLogout()">
    Logout
  </ion-button>

</ion-content>
