<ion-card class="task-card" [ngClass]="{'is-request': task.type == 'request', 'is-offer': task.type == 'offer'}">

  <user-row></user-row>

  <ion-card-header (click)="gotoTaskPage()">
    <ion-card-title>{{task.name}}</ion-card-title>
  </ion-card-header>

  <ion-card-content (click)="gotoTaskPage()">
    {{task.description}}
  </ion-card-content>

  <div class="footer-actions">
    <ion-button fill="clear" size="small" (click)="gotoTaskPage()">Details anzeigen</ion-button>
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-md="6" size-lg="4">
          <ion-button expand="block" (click)="acceptTask()" *ngIf="!auth.currentUser || !task?.applicants || task?.applicants.indexOf(auth.currentUser.uid) == -1">{{task?.type == 'request' ? 'Aufgabe übernehmen' : 'Angebot beanspruchen' }}</ion-button>
          <ion-button expand="block" fill="outline" (click)="resignTask()" *ngIf="task?.applicants && task?.applicants.indexOf(auth.currentUser.uid) != -1">Zurücktreten</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-card>
