<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-content-center ion-align-items-center ion-text-center" style="min-height: 100vh;">
    <ion-col>
      <div style="max-width: 380px; margin-left: auto; margin-right: auto;">

        <img class="logo" src=""/>

        <ion-list>
          <ion-item lines="none" class="ion-justify-content-center">
            <ion-icon name="person-outline"  slot="start"></ion-icon>
            <ion-label position="stacked">E-Mail</ion-label>
            <ion-input [(ngModel)]="email" type="email"></ion-input>
          </ion-item>
          <ion-item lines="none" class="ion-justify-content-center">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-label position="stacked">Passwort</ion-label>
            <ion-input [(ngModel)]="password" type="password"></ion-input>
          </ion-item>
        </ion-list>

        <ion-button expand="block" color="white" (click)="submitLogin()">Einloggen <ion-icon slot="lock-open-outline"></ion-icon></ion-button>

        <div style="min-height: 50px;"></div>

        <ion-note color="white"><small>Noch kein Account?</small></ion-note>
        <ion-button color="white" fill="clear" expand="block" (click)="openRegisterPage()">Registrieren</ion-button>
      </div>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer>
    <div class="ion-padding">
      <ion-button color="white" fill="clear" expand="block" (click)="continueAnon()">Ohne Account Weiter</ion-button>
    </div>
</ion-footer>
