<ion-header [ngClass]="{'type-offer': task?.type == 'offer', 'type-request': task?.type == 'request'}">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{this.task?.name ? this.task.name : ''}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" [ngClass]="{'type-offer': task?.type == 'offer', 'type-request': task?.type == 'request'}">
    <ion-toolbar>
      <ion-title size="large">
        {{this.task?.name ? this.task.name : ''}}
      </ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <user-row>
          {{ task?.due ? task.due : '' }}
        </user-row>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-text>
      <p>{{this.task?.description ? this.task?.description : ''}}</p>
    </ion-text>
  </div>


    <h2 class="ion-padding" *ngIf="this.task?.items">Liste</h2>
    <ion-list lines="none" *ngIf="this.task?.items">
      <ion-item *ngFor="let subtask of this.task.items">
        <ion-button class="check-button" shape="round" fill="outline" slot="start">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-button>
        <ion-label>{{subtask.name}}</ion-label>
      </ion-item>
    </ion-list>


</ion-content>
<ion-footer [ngClass]="{'type-offer': task?.type == 'offer', 'type-request': task?.type == 'request'}">
  <ion-button expand="full" fill="clear" (click)="acceptTask()" *ngIf="!auth.currentUser || !task?.applicants || task?.applicants.indexOf(auth.currentUser.uid) == -1">{{task?.type == 'request' ? 'Aufgabe übernehmen' : 'Angebot beanspruchen' }}</ion-button>
  <ion-button expand="full" fill="clear" (click)="resignTask()" *ngIf="task?.applicants && task?.applicants.indexOf(auth.currentUser.uid) != -1">Zurücktreten</ion-button>
</ion-footer>
